$my_color:"red";


.add_post_outer{
   width: 90%;
   margin: auto;
   min-height: 100vh;
  
}
// .jodit-container{
//      width: 90% !important;
//      margin: 50px auto;
   
// }
.jodit-status-bar{
    display: none !important;
}