







.postes_outer{
    width: 95% !important;
    min-height: calc(100vh - 50px);
    margin: 50px 2%;
   
}
.post_img{
    width: 100px !important;
    height: 80px !important;
    overflow: hidden;
}
.post_data{
    height: 100px;
    overflow: hidden;
}